@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh; 
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

/* where i come in*/

body{
  display: flex;
  flex-direction: column;
}

.content{
  flex:1;
}

a{
  text-decoration: none;
  color:gray;
}
ul{
  list-style-type: none;
}

.header, ul, .footer{
  display:flex;
  justify-content: space-between;
}


.left-links{
  margin-right: auto;
}

.header{
  padding-right: 20px;
  margin-left: -30px;
  font-size: 20px;
  font-weight: 500;

}
ul{
  gap: 10px;

}
.content{

  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer{
  align-items: flex-end;
  margin-right: 1%;
  background-color: #eee;
}

